<div class="top">
    <div class="inner">
        <div class="f_logo">
            <img src="/GrandHyatt/img/logo_white.png" alt="로고">
        </div>
        <div class="fnb_area">
            <ul class="fnb fnb1">
                <li><a href="#">호텔 개요</a></li>
                <li><a href="#">채용 정보</a></li>
                <li><a href="#">사이트맵</a></li>
            </ul>
            <ul class="fnb fnb2">
                <li><a href="#">개인정보 보호정책</a></li>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">쿠키 센터</a></li>
                <li><a href="#">보안 및 안전</a></li>
                <li><a href="#">현대판 노예제 및 인신매매</a></li>
                <li><a href="#">개인정보 판매 거부</a></li>
            </ul>
        </div>
        <div class="familySite">
            <select onchange="if(this.value) window.open=(this.value);" class="whiteArrow">
                <option>FAMILY SITE</option>
                <option value="#">HYATT WORLD</option>
                <option value="#">GRAND HYATT INCHEON</option>
                <option value="#">GRAND HYATT JEJU</option>
            </select>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="inner">
        <div class="f_info">
            <p>
                그랜드 하얏트 서울 : 서울시 용산구 소월로 322 ｜ 대표자 : 신현택<br>
                사업자등록번호 : 106-81-07732 ｜ 통신판매업신고 : 용산-0453호<br>
                전화 : +82)02-797-1234 ｜ 팩스 : +82)02-798-6953 ｜ 이메일 : seoul.grand@hyatt.com
            </p>
            <p class="copyright">© 2022 Hyatt Corporation</p>
        </div>
        <ul class="sns">
            <li onclick="location.href='#'">
                <i class="fab fa-facebook-f"></i>
            </li>
            <li onclick="location.href='#'">
                <i class="fab fa-instagram"></i>
            </li>
            <li onclick="location.href='#'">
                <i class="fab fa-twitter"></i>
            </li>
            <li onclick="location.href='#'">
                <i class="fab fa-linkedin-in"></i>
            </li>
            <li onclick="location.href='#'">
                <i class="fab fa-youtube"></i>
            </li>
        </ul>
    </div>
</div>