<div class="top">
    <div class="inner">
        <div class="logo">
            <a href="/GrandHyatt/index.html">
                <img src="/GrandHyatt/img/logo_white.png" alt="그랜드 하얏트 로고" class="white">
                <img src="/GrandHyatt/img/logo.png" alt="그랜드 하얏트 로고" class="color">
            </a>
        </div>
        <ul class="_menu">
            <li class="login"><a href="#">로그인</a></li>
            <li class="rsv"><a href="#">예약확인/취소</a></li>
            <li class="lang">
                <span>KR</span>
                <ul>
                    <li><a href="#">KR</a></li>
                    <li><a href="#">EN</a></li>
                    <li><a href="#">CN</a></li>
                    <li><a href="#">JP</a></li>
                    <li><a href="#">TW</a></li>
                </ul>
            </li>
        </ul>
        <button type="button" class="mo_btn" title="메뉴 열기" aria-label="메뉴 열기">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </button>
    </div>
</div>
<div class="bottom">
    <div class="inner">
        <nav class="gnb">
            <ul>
                <li>
                    <a href="/GrandHyatt/sub/attractions.html">GRAND HYATT</a>
                    <ul class="lnb">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">오시는 길</a></li>
                        <li><a href="/GrandHyatt/sub/attractions.html">주변 즐길거리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">WORLD OF HYATT</a>
                    <ul class="lnb">
                        <li><a href="#">하얏트 월드 홈</a></li>
                        <li><a href="#">등급 및 혜택</a></li>
                        <li><a href="#">하얏트 리워즈</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">HOTEL</a>
                    <ul class="lnb">
                        <li><a href="#">객실</a></li>
                        <li><a href="#">다이닝 & 바</a></li>
                        <li><a href="#">부대시설</a></li>
                        <li><a href="#">스페셜 오퍼</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/GrandHyatt/sub/wedding.html">WEDDING & MEETING</a>
                    <ul class="lnb">
                        <li><a href="/GrandHyatt/sub/wedding.html">웨딩</a></li>
                        <li><a href="#">미팅</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/GrandHyatt/sub/inquiries.html">SERVICE</a>
                    <ul class="lnb">
                        <li><a href="/GrandHyatt/sub/inquiries.html">이용문의</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="menu_bg"></div>
</div>