<div class="black"></div>
<div class="side">
    <div class="top">
        <div class="logo">
            <a href="/GrandHyatt/index.html">
                <img src="/GrandHyatt/img/logo.png" alt="그랜드 하얏트 로고">
            </a>
        </div>
        <ul class="_menu clear">
            <li>
                <a href="#" class="clear">
                    <span class="txt login">로그인</span>
                    <i class="fa-solid fa-caret-right"></i>
                </a>
            </li>
            <li>
                <a href="#" class="clear">
                    <span class="txt rsv">예약확인/취소</span>
                    <i class="fa-solid fa-caret-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <nav class="gnb">
        <ul>
            <li class="on">
                <span>GRAND HYATT</span>
                <ul class="lnb">
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                    <li>
                        <a href="#">오시는 길</a>
                    </li>
                    <li>
                        <a href="/GrandHyatt/sub/attractions.html">주변 즐길거리</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>WORLD OF HYATT</span>
                <ul class="lnb">
                    <li>
                        <a href="#">하얏트 월드 홈</a>
                    </li>
                    <li>
                        <a href="#">등급 및 혜택</a>
                    </li>
                    <li>
                        <a href="#">하얏트 리워즈</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>HOTEL</span>
                <ul class="lnb">
                    <li>
                        <a href="#">객실</a>
                    </li>
                    <li>
                        <a href="#">다이닝 & 바</a>
                    </li>
                    <li>
                        <a href="#">부대시설</a>
                    </li>
                    <li>
                        <a href="#">스페셜 오퍼</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>WEDDING & MEETING</span>
                <ul class="lnb">
                    <li>
                        <a href="/GrandHyatt/sub/wedding.html">웨딩</a>
                    </li>
                    <li>
                        <a href="#">미팅</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>SERVICE</span>
                <ul class="lnb">
                    <li>
                        <a href="/GrandHyatt/sub/inquiries.html">이용문의</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="lang">
        <select onchange="if(this.value) location.href=(this.value);" class="whiteArrow">
            <option>Language</option>
            <option value="#">KR</option>
            <option value="#">EN</option>
            <option value="#">CN</option>
            <option value="#">JP</option>
            <option value="#">TW</option>
        </select>
    </div>
    <button type="button" class="mo_btn" title="메뉴 닫기" aria-label="메뉴 닫기">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
    </button>
</div>